/****** Global Styles ******/

body {
    font-family: Source Sans Pro, sans-serif;
    color: #5e5d5e;
    font-size: 20px;
    line-height: 2;
}

.content-wrapper {
    width: 85%;
    margin: auto 0;
}

/****** Header Styles ******/

.homepage-hero {
    display: flex;
    justify-content: center;
    background: url('../img/full-background.png') center no-repeat #F9EFEF;
    background-size: cover;
    max-height: 1000px;
}

.heading-text {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;

}

header h1 {
    display: flex;
    justify-content: left;
    color: #7B7E54;
    font-family: 'Lora', serif;
    font-size: 2rem;
    padding: 0;
    margin: 20px 0 0 0;
}

header nav {
    display: flex;
    justify-content: right;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    font-size: .9rem;
    color: #727172;
    padding-left: 50px;
}

header h2 {
    width: 90%;
    font-family: 'lora', serif;
    font-size: 3.6rem;
    line-height: 1.5;
    color: #817F80;
    padding: 80px 0 80px 25px;
    margin: 0 0 80px 0;
}

/****** About Styles ******/

#about .content-wrapper {
    padding: 80px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

#about h2 {
    font-family: 'lora', serif;
    font-size:1.8rem;
    padding-left: 25px;
    width: 100%
}

#about p {
    width: 40%;
    padding-left: 25px;
    padding-right: 25px;
}

/****** Skill Styles ******/

#skills {
    background: #F5F5F5;
    text-align: center;
}

#skills .content-wrapper {
    padding: 115px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

#skills .skill-list {
    width: 30%;
    padding: 30px inherit;
}

#skills h2 {
    font-family: 'lora', serif;
    font-size: 1.8rem;
    padding-bottom: 40px;
    width: 100%;
}

#skills h3 {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-top: 30px;
    margin-bottom: 20px;
}

#skills p {
    text-align: left;
    width: 80%;
    padding: 0 20px;
}

/****** Contact Styles ******/

#contact {
    background: #F9E9E9;

}
#contact .content-wrapper {
    padding: 110px 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

#contact .contact-image {
    float:left;
    width: 600px;
}

#contact #footer-image {
    width: 500px;
    height: 300px;
    border: 12px solid white;
    margin: 0 50px;
    box-sizing: border-box;
}

#contact .contact-info {
    width: 40%;
    padding-left: 100px;

}

#contact h2 {
    font-size: 1.8rem;
    font-family: 'lora', serif;
    font-weight: 600;
    margin:30px 0;
}

#contact h3 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8;
}

#contact #email-header {
    margin-bottom: 5px;
}

#contact #socialmedia-header {
    margin: 20px 0 5px 0;
}

#contact #envelope-icon {
    padding-right: 10px;
}

#contact .contact-info a {
    text-decoration: none;
    font-family: Source Sans Pro, sans-serif;
    font-size: 1.2rem;
    color: #5e5d5e;
    line-height: 1.8;

}

#contact ul {
    padding-left: 0px;
    float: left;
    margin-top: 0;
}

#contact ul li {
    display: inline-block;
}

#contact ul img {
    padding-right: 40px;
}

/****** PROJECTS PAGE STYLES *******/

/****** PROJECTS PAGE HEADER STYLES ******/

.extra-hero {
    background: #F9EFEF;
    display: flex;
    justify-content: center;
}

/***** PROJECTS PAGE PROJECTS STYLES ******/

#projects {
    background: #F5F5F5;
    text-align: center;
}

#projects .content-wrapper {
    padding: 115px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

#projects .project-piece {
    width: 25%;
    padding: 0 25px;
}

#projects h2 {
    font-family: 'lora', serif;
    font-size: 1.8rem;
    padding-bottom: 40px;
    width: 100%;
}

#projects img {
    width: 300px;
    padding-bottom: 30px;
}

#projects h3 {
    font-size: 1.2rem;
    line-height: 1.8;
}

#projects p {
    text-align: left;
}

/************************** Tablet Styles *******************************/

@media only screen and (min-width: 768px) and (max-width: 1199px) {

.homepage-hero {
    min-height: 600px;
}

header h1 {
    justify-content: center;
    width: 100%;
}

#skills .content-wrapper {
    display: flex;
    flex-direction: column;
}

#skills .skill-list {
    width: 60%;
    margin: 20px auto;
}

#skills p {
    text-align: center;
}

}

/************************* Mobile Styles ********************************/

@media only screen and (max-width: 767px) {

header h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
}

.homepage-hero {
    min-height: 500px;
}

header nav {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 40px 0 40px 0;
}

header nav ul {
    padding: 0;

}


}